@model eUseControl.Web.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr />
    
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Send Us a Message</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="form-group">
                            @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(m => m.Subject, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(m => m.Message, new { @class = "control-label" })
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = 6 })
                            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Contact Information</h4>
                </div>
                <div class="card-body">
                    <p><strong>Address:</strong><br />123 Eye Care Street<br />Cityville, ST 12345</p>
                    <p><strong>Phone:</strong><br />(123) 456-7890</p>
                    <p><strong>Email:</strong><br />info@eyecare.com</p>
                    <hr />
                    <h5>Business Hours</h5>
                    <p>Monday - Friday: 9:00 AM - 6:00 PM<br />
                    Saturday: 10:00 AM - 4:00 PM<br />
                    Sunday: Closed</p>
                </div>
            </div>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h5>Connect With Us</h5>
                    <div class="social-links">
                        <a href="#" class="btn btn-outline-primary"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-outline-info"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-outline-danger"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="btn btn-outline-primary"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>